<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../asster/css/bootstrap.css">
    <link rel="shortcut icon" href="../../asster/image/favicon.ico">
    <title>尾部</title>
</head>
<body>
  <div class="alert alert-success" role="alert">
    想不到吧，我是结尾
  </div>
  <script src="../../asster/js/jquery-3.5.1.min.js"></script>
  <script src="../../asster/js/bootstrap.js"></script>
  <script src="../../asster/js/jquery.i18n.js"></script>
  <script src="../../asster/js/index.js"></script>
</body>
</html>